
$small: 568px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;


html {
    line-height: 1.5;
    font-family: Georgia, serif;
    font-size: 20px;
    color: #1a1a1a;
    background-color: #fdfdfd;
  }

body nav {
    position: sticky;
    top: 0;
  }

a {color: inherit; text-decoration: inherit; }
a:hover {text-decoration: underline; }

.page {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header { 
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: white;
  border-bottom: 1px solid rgb(157, 155, 155);
  height: 105px;
}

.title {
  display: flex;
  color: #7a8288;
  font-size: 21px;
  font-weight: bold;
  align-items: left;
  flex-basis: 70%;
  @media (min-width: $small) {
    flex-basis: 50%;
  }
  @media (min-width: $medium) {
    justify-content: left;
    flex-basis: 30%;
  }
}

.title > a {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  color: #7a8288;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  flex-basis: 30%;
  @media (min-width: $small) {
    flex-basis: 50%;
  }
  @media (min-width: $medium) {
    flex-basis:70%;
  }
}

.navigation-block {
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em;
}